/* This is a CSS code that imports two Google Fonts (Poppins and Roboto) and sets the font family for
all elements to Roboto. It also styles various elements of a product page, including the wrapper,
cards, titles, prices, images, and buttons. It also includes a hover effect for the product cards
and a style for a "remove from cart" button. */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.mainProductsPage {
  width: 100%;
  overflow-x: hidden;
  font-size: 0.875rem;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainCartPage h2{
  margin-top: 0.625rem;

}

.mainProductsPage h2 {
  margin-top: 1.25rem;
}

.productsPageWrapper {
  margin: 20px;
  width: 98%;
  min-height: 100vh;
  max-height: auto;
  padding: 1.25rem;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
}
.ProductPageCard:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  border-radius: 0.625rem;
  transition: all 0.4s ease-out;
   transform: scale(1.07);
}
.ProductPageCard {
  background-color: white;
  padding: 0.625rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.3125rem;
  display: flex;
  width: 21.875rem;
  height: 12.5rem;
  flex-direction: column;
}
.ProductPageCard .title {
  padding: 0.3125rem;
}
.ProductPageCard .price {
  padding: 5px 0px;
}

.ProductPageCard img {
  height: 5rem;
  object-fit: contain;
}
.ProductPageCard .btn {
  border: none;
  background-color: white;
  padding: 0.625rem;
  border-radius: 0.1875rem;
  color: #2d3331;
  transition: all 0.3s ease-out;
  font-weight: bold;
}
.ProductPageCard .btn:hover {
  cursor: pointer;
  background-color: #2d3331;
  color: white;
  border: 2px solid white;
}

.removeToCartBtn {
  display: flex;
  gap: 1.25rem;
}

