.footerCp {
    cursor: pointer;
}
.fotterTop:hover {
    background-color: #ffffff36;
}
.footerHover:hover {
    border-bottom: 1px solid white;
    /* width: 50px; */

}
.footer {
  width: 100%;
  margin-top: 80px;
  background-color: #272d41;
  height: 100vh;
}
.fotterTop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #303853;
  color: white;
}

.footerMid {
    display: flex;
    align-items: center;
    margin-top: 0px;
    justify-content: space-around;
    color: white;
    height: 500px;
    padding: 20px;
}

.footerList1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footerList1 ul li{
    margin-bottom: 10px;
}

/* footer last */
.footerLast {
    display: flex;
    align-items: center;
    border-top: 1px solid #ffffff28;
    justify-content: center;
    height: auto;
    padding: 20px;
    height: 200px;
    gap:20px;
}
.footerLast img {
    width: 100px;
    margin-left: 20px;
}
.footerLastBtn {
    background-color: #272d41;
    border: none;
    color: gray;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 3px;
    border: 1px solid #66635e;

}