/* This is a CSS code that imports two font families from Google Fonts - Poppins and Roboto. The
`@import` rule is used to import an external style sheet into the current style sheet. The `*`
selector sets the default styles for all elements on the page, including setting the padding and
margin to 0 and using the border-box box-sizing model. The `font-family` property sets the font
family for the text on the page to Roboto, with sans-serif as a fallback option. */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
