/* This is CSS code that is styling a slideshow created using the Slick library. */

.imgs {
 margin: 0px 10px;
 /* margin-bottom: -200px; */
}
.slick-slide img {
 
  width: 100%;
  height: 25%;
  
}
