/* This is a CSS code defining the styles for a subtotal section of a webpage. It sets the display to
flex with a column direction and space between items, sets the width and height to 300px and 100px
respectively, adds padding and a background color, and sets a border with a radius. It also defines
styles for a gift section within the subtotal, including aligning items and adding margin to an
input element. Finally, it defines styles for a button within the subtotal, including a background
color, border radius, padding, width, height, and border color. */
.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: auto;
    height: auto;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal-gift {
    display: flex;
    align-items: center;
}
.subtotal-gift > input {
    margin-right: 5px;
}
.subtotal>button {
    background: #f0c14b;
    border-radius: 2px;
    padding: 5px;
    width: 100%;
    height: auto;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}